<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L0Y0W1G47N"></script>
<script>
  (function() {
    if (window.location.hostname == "localhost") {
      console.log("Analytics not running on local dev.");
      return;
    } else {
      console.log("Starting Google Analytics.");
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L0Y0W1G47N');
    }
  })
</script> 